@* Feed Content Component - Reusable feed UI, used by page shells *@
@using SocialKit.Components.ViewModels

<div class="sk-feed" style="max-width: 680px; margin: 0 auto;">
    <!-- Create Post Box -->
    <CreatePost 
        UserName="@ViewModel.CurrentUserName"
        UserAvatar="@ViewModel.CurrentUserAvatar"
        OnPost="@HandleCreatePost"
        IsPosting="@ViewModel.CreatePostCommand.IsExecuting" />
    
    <!-- Posts -->
    @if (ViewModel.IsLoading)
    {
        <Skeleton Type="SocialKit.Components.Components.Common.SkeletonType.PostCard" />
        <Skeleton Type="SocialKit.Components.Components.Common.SkeletonType.PostCard" />
        <Skeleton Type="SocialKit.Components.Components.Common.SkeletonType.PostCard" />
    }
    else if (ViewModel.Posts.Count == 0)
    {
        <MudCard Class="text-center p-5" Elevation="2">
            <MudCardContent>
                <MudIcon Icon="@Icons.Material.Filled.Article" Style="font-size:48px;" Color="Color.Default" />
                <MudText Typo="Typo.h6" Class="mt-3">No posts yet</MudText>
                <MudText Typo="Typo.body2" Class="mud-text-secondary">Be the first to share something with your friends!</MudText>
            </MudCardContent>
        </MudCard>
    }
    else
    {
        @foreach (var post in ViewModel.Posts)
        {
            <PostCard 
                Post="@post"
                CurrentUserId="@ViewModel.CurrentUserId"
                CurrentUserName="@ViewModel.CurrentUserName"
                CurrentUserAvatar="@ViewModel.CurrentUserAvatar"
                Comments="@ViewModel.GetCommentsForPost(post.Id!)"
                IsLoadingComments="@ViewModel.IsLoadingCommentsForPost(post.Id!)"
                IsAddingComment="@ViewModel.IsAddingCommentForPost(post.Id!)"
                GetRepliesForComment="@ViewModel.GetRepliesForComment"
                IsLoadingRepliesForComment="@ViewModel.IsLoadingRepliesForComment"
                IsAddingReplyForComment="@ViewModel.IsAddingReplyForComment"
                IsRepliesExpandedForComment="@ViewModel.AreRepliesExpandedForComment"
                OnLike="@(async (p) => await ViewModel.LikePostCommand.ExecuteAsync(p))"
                OnLoadComments="@(async (p) => await ViewModel.LoadCommentsCommand.ExecuteAsync(p))"
                OnAddComment="@(async (args) => await ViewModel.AddCommentCommand.ExecuteAsync(args))"
                OnDeleteComment="@(async (args) => await ViewModel.DeleteCommentCommand.ExecuteAsync(args))"
                OnLikeComment="@(async (args) => await ViewModel.LikeCommentCommand.ExecuteAsync(args))"
                OnReplyToComment="@(async (args) => await ViewModel.AddReplyCommand.ExecuteAsync(args))"
                OnLoadReplies="@(async (args) => await ViewModel.LoadRepliesCommand.ExecuteAsync(args))"
                OnToggleReplies="@((args) => ViewModel.ToggleRepliesExpanded(args.Comment.Id!))"
                OnShare="@(p => {})" />
        }
    }
</div>

@code {
    [Parameter, EditorRequired] public FeedViewModel ViewModel { get; set; } = null!;
    
    private async Task HandleCreatePost(CreatePost.CreatePostData data)
    {
        var files = data.Files
            .Select(f => (f.Name, f.ContentType, f.Data))
            .ToList();
        
        await ViewModel.CreatePostWithMediaAsync(data.Text, files);
    }
}
